/* NORMALIZACION */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER1 y FOOTER1: SHOP, ITEM, CARRITO, INDEX */





/* HEADER2 y FOOTER2: ADMIN, REGISTER, LOGIN, ITEM_NUEVO, ITEM_EDIT */



