#form_login{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 36px;
    padding-bottom: 36px
}

h3{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.168rem;
}

.info_login{
    width: 250px;
    height: 24px;
    border: none;
    border-bottom: var(--primary-solid) solid 2px;
    
}

.text_login{
    color: var(--dark-solid);
    font-family: var(--base-font);
    font-size: var(--font-large);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.096rem;
    margin-right: 15px;
}

.btn_ingresar{
    display: flex;
    gap: 36px;
    align-items: center;
}

.btn_login{
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    width: 103px;
    height: 39px;
    flex-shrink: 0;
    border: none;
    font-family: var(--base-font); 
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


.recordarme{
    color: var(--dark-solid);
    font-family: var(--base-font); 
    font-size: var(--font-medium);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.new_password{
    color: var(--seconday-solid);
    font-family: var(--base-font);
    font-size: var(--font-small);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

input, input::placeholder{
    font-size: var(--font-xsmall);
}
