#form_login{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 36px;
    padding-bottom: 36px
}

h3{
    color: #1F1F1F;
    font-family: Raleway;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.68px;
}

.info_login{
    width: 250px;
    height: 24px;
    border: none;
    border-bottom: #FF3333 solid 2px;
    
}

.text_login{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.96px;
    margin-right: 15px;
}

.btn_ingresar{
    display: flex;
    gap: 36px;
    align-items: center;
}

.btn_login{
    color: #FFFFFF;
    background-color: #FF3333;
    width: 103px;
    height: 39px;
    flex-shrink: 0;
    border: none;
}


.check_login{
    color: #1F1F1F;
    font-family: Inter; 
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.new_password{
    color: #1D84B5;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

