#form_register{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    padding-top: 36px;
    padding-bottom: 36px
}

h3{
    color: var(--dark-solid);
    font-family: var(--alternative-font);
    font-size: var(--font-jumbo);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.168rem;
}

.p_form{
    color: var(--dark-solid);
    text-align: center;
    font-family: var(--alternative-font);
    font-size: var(--font-xlarge);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.128rem;
}

.info_register{
    width: 250px;
    height: 24px;
    border: none;
    border-bottom: #FF3333 solid 2px;
}

input, input::placeholder{
    font-size: var(--font-xsmall);
}

.btn_registro{
    display: flex;
    gap: 36px;
    align-items: center;
}

.btn_register{
    color: var(--light-font-solid);
    background-color: var(--primary-solid);
    width: 103px;
    height: 39px;    
    flex-shrink: 0;
    border: none;
    font-family: var(--base-font); 
    font-size: var(--font-xsmall);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    

}

.terms{
    color: #1F1F1F;
    font-family: var(--base-font); 
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

.link_terms{
    color: #1D84B5;
    font-family: var(--base-font); 
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}



